<h2><%= @github_user.name %></h2>
<h4>Repositories</h4>
<ul>
  <% @github_user.repos.each do |repo| %>
  <ul>
    <li><%= repo %></li>
  </ul>
  <% end %>
  <h4>Followers: <%= @github_user.followers.count %></h4>
  <h4>Following: <%= "#{@github_user.following.count}" %></h4>
  <h4>Starred: <%= @github_user.starred.count %></h4>
  <h4>Organizations:</h4>
  <ul>
  <% @github_user.organizations.each do |organization| %>
    <li><%= organization["login"] unless organization.nil? %></li>
  <% end %>
  </ul>
  <h3>Contribution Activity:</h3>
  <h4><%= @github_user.recent_pushes.count %> Commits</h4>
    <% @github_user.recent_pushes.each do |push| %>
    <ul>
      <% push.each do |push_info| %>
        <li><%= push_info %><li>
      <% end %>
    </ul>
    <% end %>

  <h4><%= @github_user.recent_pull_requests.count %> Pull Requests</h4>
    <% @github_user.recent_pull_requests.each do |pull_request| %>
    <ul>
      <li><%= pull_request %></li>
    </ul>
    <% end %>

  <h4><%= @github_user.issues.count %> Issues</h4>
    <% @github_user.issues.each do |issue| %>
    <ul>
      <% issue.each do |issue_data| %>
        <li><%= issue_data %></li>
      <% end %>
    </ul>
    <% end %>
