<h2>Welcome, <%= current_user.name %></h2>
<%= image_tag current_user.avatar_url %>
<h4>Followers: <%= current_user.followers.count %></h4>
<h4>Following: <%= current_user.following.count %></h4>
<h4>Starred: <%= current_user.starred.count %></h4>
